<div class="col-lg-12 header">
  Employee  :  List
</div>
<div class="col-lg-12">
    <div class="table-top">
        <div class="form-group col-sm-2 mt-2">
            <input type="text" id="myInput" onkeyup="" class="form-control" placeholder="search..."/>
        </div>
        <a type="button" class="btn btn-primary pull-right">
            Add
        </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th id="fullname" style="position:relative">Full name
            </th>
            <th id="mobile">Mobile</th>
            <th id="city">City</th>
            <th colspan="3" style="text-align:center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>sdf</td>
            <td>sdfsdf</td>
            <td>sdfsdf</td>
            <td class="td-icon-width"><a href=""><i class="fas fa-edit"></i></a></td>
            <td class="td-icon-width"><a href=""><i class="fas fa-info-circle"></i></a></td>
            <td class="td-icon-width"><a href=""><i class="fas fa-trash-alt"></i></a></td>
        </tr>

        </tbody>
    </table>
</div>
