.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #F8F9FA;
    border-color: #F8F9FA;
}

.navbar-brand:hover {
    color: #9d9d9d !important;
    background-color: none !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}

.side-nav {
    padding: 0px;
    background: #ededed;
    list-style: none;
    height: 100%;
    margin: 0px;
    width: 10%;
    min-height: -webkit-fill-available;
    float: left;
}

.bg-info {
    background-color: #ffffff;
}

.side-nav .nav-item {
    padding: 8px;
}

.side-nav .nav-item:hover, .side-nav .active {
    cursor: pointer;
    background: white;
}

.side-nav .nav-item a:hover {
    text-decoration: none;
}

.side-nav .nav-item a {
    color: #9d9d9d;
    font-weight: 600;

}

/*.side-nav .nav-item:first-child a {*/
/*    padding: 10px 70px 10px 0px;*/
/*}*/

/*.side-nav .nav-item:nth-child(2) a, .side-nav .nav-item:nth-child(3) a {*/
/*    padding: 10px 67px;*/
/*}*/

/*.side-nav .nav-item:nth-child(4) a {*/
/*    padding: 10px 49px;*/
/*}*/

/*.side-nav .nav-item:last-child a {*/
/*    padding: 10px 65px;*/
/*}*/

.main-page {
    width: 90%;
    /* display: flex; */
    float: left;
}

.header {
    padding: 8px;
    color: white;
    font-weight: 600;
    background: #1E71C6;
}

table {
    margin: 10px;
}

.td-icon-width {
    width: 10px;
}
.table-top{
    margin:10px;
}

.bg-hider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8d8d8d;
    opacity: 0.4;
    z-index: 1;
}
.dialog{
    max-width: 1000px;
    width: 80% !important;
    border-radius: 7px;
    padding: 50px;
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 37px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.createPage{
    display:none;
}

