<ul class="side-nav" id="sidebar">
  <li class="nav-item" routerLink="employee" routerLinkActive="active">
    <a class="nav-link">
      Employee

    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      Course
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      Vehicle
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      Vehicle Type
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      Student
    </a>
  </li>
</ul>
