<form action="/employee/create" method="POST" autocomplete="off">
    <div class="form-group">
    <label>Full name:</label>
    <input type="text" class="form-control" name="fullname" placeholder="Full name"/>
    </div>
    <div class="form-group">
    <label>mobile:</label>
    <input type="text" class="form-control" name="mobile" placeholder="Mobile"/>
    </div>
    <div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city" placeholder="City"/>
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-primary" />
     <a type="button" href="/employee" class="btn btn-danger">
     Cancel
     </a>
    </div>
</form>
