<!DOCTYPE html>

<html>
<head>
    <title>Driving center</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/custom.js"></script>


</head>
<body class="bg-info">
<div class="container-fluid">
<div class="row">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Driving center</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<ul class="side-nav" id="sidebar">
    <li class="nav-item">
        <a class="nav-link" href="/employee">
        Employee

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/course">
        Course
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
        Vehicle
        </a>
    </li>
    <li class="nav-item">
            <a class="nav-link">
            Vehicle Type
            </a>
        </li>
        <li class="nav-item">
                <a class="nav-link">
                Student
                </a>
            </li>
</ul>

<div class="main-page">
{{{body}}}
</div>

</div>
</div>
</body>

</html>
