<h3>{{viewtitle}}</h3>
<form action="/create" method="POST" autocomplete="off">
    <div class="form-group">
    <label>Full name:</label>
    <input type="text" class="form-control" name="fullname" placeholder="Full name"/>
    </div>
    <div class="form-group">
    <label>mobile:</label>
    <input type="text" class="form-control" name="mobile" placeholder="Mobile"/>
    </div>
    <div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city" placeholder="City"/>
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-primary" />
    </div>
</form>
