<div class="col-lg-12 header">
{{title}} : List
</div>
<div class="col-lg-12">
<div class="table-top">
<div class="form-group col-sm-2 mt-2">
<input type="text" id="myInput" onkeyup="filter()" class="form-control" placeholder="search..."/>
</div>
<a type="button" href="/employee?add" class="btn btn-primary pull-right">
Add
</a>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th id="fullname" style="position:relative">Full name <div style="position:absolute;top:-2px;right:20px;" class="sort-icons">
                                      <div #iconasc class="icon-con asc-container">
                                          <i class="fa fa-caret-up"></i>
                                      </div>
                                      <div #icondesc class="icon-con desc-container">
                                          <i class="fa fa-caret-down"></i>
                                      </div>
                                  </div></th>
      <th id="mobile">Mobile</th>
      <th id="city">City</th>
      <th colspan="3" style="text-align:center">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each list}}
    <tr>
      <td>{{this.fullname}}</td>
      <td>{{this.mobile}}</td>
      <td>{{this.city}}</td>
        <td class="td-icon-width"><a href=""><i class="fas fa-edit"></i></a></td>
        <td class="td-icon-width"><a href=""><i class="fas fa-info-circle"></i></a></td>
        <td class="td-icon-width"><a href=""><i class="fas fa-trash-alt"></i></a></td>
    </tr>
      {{/each}}

  </tbody>
</table>
</div>


<div class="createPage">
<div class="bg-hider"></div>
<div class="dialog">
<h3>{{viewtitle}}</h3>
<form action="/employee/create" method="POST" autocomplete="off">
    <div class="form-group">
    <label>Full name:</label>
    <input type="text" class="form-control" name="fullname" placeholder="Full name"/>
    </div>
    <div class="form-group">
    <label>mobile:</label>
    <input type="text" class="form-control" name="mobile" placeholder="Mobile"/>
    </div>
    <div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city" placeholder="City"/>
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-primary" />
     <a type="button" href="/employee" class="btn btn-danger">
     Cancel
     </a>
    </div>
</form>
</div>
</div>

<script>
activeTab("{{title}}");

var action=document.location.href.split("?")[1];
if(action=='add'){
var el = document.getElementsByClassName("createPage")[0];
el.classList.remove("createPage");
console.log(el);
}

function filter() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementsByClassName("table")[0];
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
           data = tr[i].getElementsByTagName("td")[0];

           txtValue=data.innerText;
           if(txtValue.toUpperCase().indexOf(filter)>-1){
           tr[i].style.display="";
           }else{
           tr[i].style.display="none";

           }

       }
}

function sort(){
var up=document.getElementsByClassName("fa-caret-up")[0];
var down=document.getElementsByClassName("fa-caret-down")[0];
up.style.display="none";
down.style.top="13px";
down.style.position= "absolute";
console.log(up.style.display);
/*
 var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementsByClassName("table")[0];
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
  */

}

var properties = [
	'fullname'
];

$.each( properties, function( i, val ) {

	var orderClass = '';

	$("#" + val).click(function(e){
		e.preventDefault();
$('.filter__link--active').not(this).removeClass('filter__link--active');
  		$(this).toggleClass('filter__link--active');



		var parent = $(this).closest('th');

    		var index = $("th").index(parent);
		var $table = $('tbody');
		var rows = $table.find('tr').get();
var isSelected = $(this).hasClass('filter__link--active');

		rows.sort(function(a, b){

			var x = $(a).find('td').eq(index).text();
    			var y = $(b).find('td').eq(index).text();
    			if(isSelected) {
                					if(x < y){desc();  return -1};
                					if(x > y) return 1;
                					return 0;
                				} else {
                					if(x > y){asc(); return -1};
                					if(x < y) return 1;
                					return 0;
                				}


    		});

		$.each(rows, function(index,row) {
			$table.append(row);
		});

		return false;
	});

});

function desc(){
$(".fa-caret-up").hide();
$(".fa-caret-down").show();
$(".sort-icons").css("top","8px");
}
function asc(){
$(".fa-caret-up").show();
$(".fa-caret-down").hide();
$(".sort-icons").css("top","8px");

}
</script>
